<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         cacheTokens="false"
         colors="true"
         >

    <testsuites>
        <testsuite name="FileGen Test Squite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
